Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

refactor: added possibility to overwrite the value on which to break … (#874)
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/03-areas/00-header/header.md
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/_patterns/03-areas/_areas.scss
  source/css/_db-ui-core.variables.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

refactor(codeowners): added bruno
  CODEOWNERS
Due: none

refactor: differentiate by theme
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/brand/enterprise/brand.scss
  source/_patterns/02-components/language-switcher/enterprise/language-switcher.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/mainnavigation/enterprise/mainnavigation.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/03-areas/00-header/enterprise/header.scss
  source/_patterns/03-areas/00-header/enterprise/meta.scss
  source/_patterns/03-areas/00-header/header.md
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/_patterns/03-areas/_areas.scss
  source/_patterns/03-areas/enterprise/_areas.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

refactor(codeowners): added bruno (#875)
  CODEOWNERS
Due: none

docs(marketingportal): updated urls
  README.md
  docs/adr/intro.adoc
  source/_data/enterprise/footer.json
  source/_patterns/01-elements/headline/_headline.md
  source/_patterns/01-elements/logo/_logo.md
  source/_patterns/04-pages/intro.json
Due: markdownlint -c .markdown-lint.yml

docs(marketingportal): updated urls (#878)
  README.md
  docs/adr/intro.adoc
  source/_data/enterprise/footer.json
  source/_patterns/01-elements/headline/_headline.md
  source/_patterns/01-elements/logo/_logo.md
  source/_patterns/04-pages/intro.json
Due: markdownlint -c .markdown-lint.yml

refactor: prettier
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix

refactor: enhanced clickable area on the inline-end (#839)
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/radio/radio.scss
Due: stylelint --fix

Update commit-msg
  .husky/commit-msg
Due: none

refactor: further adaptions due to husky update
  .husky/pre-commit
  .lintstagedrc
Due: none

Update if-eq.js
  helpers/if-eq.js
Due: prettier --write, xo --fix

Update unique-id.js
  helpers/unique-id.js
Due: prettier --write, xo --fix

refactor(tabs): integrate v2 design
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

refactor: corrected styling
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

feat: added icon
  source/_patterns/02-components/tab-bar/tab-bar.hbs
  source/_patterns/02-components/tab-bar/tab-bar~item-icon.json
Due: none

refactor: added small size
  source/_patterns/02-components/tab-bar/tab-bar.hbs
  source/_patterns/02-components/tab-bar/tab-bar.scss
  source/_patterns/02-components/tab-bar/tab-bar~small.json
Due: stylelint --fix

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
