Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

refactor: replaced `npm-run-all` by `npm-run-all2` (#1045)
  package-lock.json
  package.json
Due: none

refactor: we still need this override for other dependencies
  package.json
Due: none

refactor: we still need this override for other dependencies (#1046)
  package.json
Due: none

feat: define CSS variable to accomplish sticky header table cells depending on a sticky header
  source/_patterns/02-components/table/table.scss
  source/_patterns/02-components/table/table~sticky-header.md
  source/_patterns/03-areas/_areas.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

refactor(table): only set backdrop-filter once
  source/_patterns/02-components/table/_table.helpers.scss
Due: stylelint --fix

refactor: updated GitHub actions
  .github/actions/upload-tar-artifact/action.yml
Due: none

Update action.yml
  .github/actions/download-tar-artifact/action.yml
Due: none

refactor: updated github-script action
  .github/actions/extract-branch/action.yml
Due: none

refactor: updated GitHub actions
  .github/actions/download-tar-artifact/action.yml
  .github/actions/upload-tar-artifact/action.yml
Due: none

refactor: updated actions/cache action
  .github/actions/npm-cache/action.yml
Due: none

refactor: using `.nvmrc` entry
  .github/actions/npm-cache/action.yml
Due: none

refactor: prettier
  .github/actions/npm-cache/action.yml
Due: none

docs: integrated v2
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: updated actions/cache action (#1060)
  .github/actions/npm-cache/action.yml
Due: none

refactor: removed obsolete overrite
  package-lock.json
  package.json
Due: none

docs: clarification
  README.md
Due: markdownlint -c .markdown-lint.yml

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
