Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

fix(pa11y): conditions
  .pa11yci
  package.json
Due: none

refactor: updated GitHub actions (#1059)
  .github/actions/download-tar-artifact/action.yml
  .github/actions/upload-tar-artifact/action.yml
Due: none

fix(pa11y-ci): added chrome launch path and necessary ignores (#1043)
  .pa11yci
Due: none

Revert "fix(pa11y): conditions (#1079)"
  .pa11yci
  package.json
Due: none

Revert "fix(pa11y): conditions (#1079)" (#1082)
  .pa11yci
  package.json
Due: none

refactor(table): only set backdrop-filter once (#1054)
  source/_patterns/02-components/table/_table.helpers.scss
Due: stylelint --fix

fix: sticky table header depending on a sticky page header (#1053)
  source/_patterns/02-components/table/table.scss
  source/_patterns/02-components/table/table~sticky-header.md
  source/_patterns/03-areas/_areas.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

docs: added sticky table header sample page (with sticky header)
  source/_patterns/02-components/table/sample-page-with-sticky-header-and-sticky-table-header.hbs
  source/_patterns/02-components/table/sample-page-with-sticky-header-and-sticky-table-header.json
  source/_patterns/02-components/table/sample-page-with-sticky-header-and-sticky-table-header.md
Due: markdownlint -c .markdown-lint.yml

docs: added sticky table header sample page (with sticky header) (#1089)
  source/_patterns/02-components/table/sample-page-with-sticky-header-and-sticky-table-header.hbs
  source/_patterns/02-components/table/sample-page-with-sticky-header-and-sticky-table-header.json
  source/_patterns/02-components/table/sample-page-with-sticky-header-and-sticky-table-header.md
Due: markdownlint -c .markdown-lint.yml

refactor: added missing dimensions
  source/_patterns/02-components/brand/_brand.hbs
  source/_patterns/02-components/cards/_card.hbs
Due: none

refactor: added conditions
  source/_patterns/01-elements/video/_video.hbs
Due: none

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
