Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

docs: added relevant comment
  source/_patterns/00-base/icons/_icons.helpers.scss
Due: stylelint --fix

Update _icons.helpers.scss
  source/_patterns/00-base/icons/_icons.helpers.scss
Due: stylelint --fix

docs: added relevant comment (#934)
  source/_patterns/00-base/icons/_icons.helpers.scss
Due: stylelint --fix

refactor: using :user-*valid from now on
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/_input.md
  source/_patterns/01-elements/input/input~invalid-attribute.md
  source/_patterns/01-elements/radio/_radio.md
  source/_patterns/01-elements/radio/radio.scss
  source/_patterns/01-elements/select/_select.md
  source/_patterns/01-elements/select/select~invalid-attribute.md
  source/_patterns/01-elements/textarea/_textarea.md
  source/_patterns/01-elements/textarea/textarea~invalid-attribute.md
  source/_patterns/02-components/form/_form.md
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

refactor: using :user-*valid from now on (#936)
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/_input.md
  source/_patterns/01-elements/input/input~invalid-attribute.md
  source/_patterns/01-elements/radio/_radio.md
  source/_patterns/01-elements/radio/radio.scss
  source/_patterns/01-elements/select/_select.md
  source/_patterns/01-elements/select/select~invalid-attribute.md
  source/_patterns/01-elements/textarea/_textarea.md
  source/_patterns/01-elements/textarea/textarea~invalid-attribute.md
  source/_patterns/02-components/form/_form.md
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

fix(breadcrumb): different font-sizes
  source/_patterns/02-components/breadcrumb/breadcrumb.scss
Due: stylelint --fix

fix(breadcrumb): different font-sizes (#942)
  source/_patterns/02-components/breadcrumb/breadcrumb.scss
Due: stylelint --fix

fix(metanavigation): unexpectedly hiding metanavigation items in footer
  source/_patterns/02-components/metanavigation/metanavigation.scss
Due: stylelint --fix

fix(metanavigation): unexpectedly hiding metanavigation items in footer (#950)
  source/_patterns/02-components/metanavigation/metanavigation.scss
Due: stylelint --fix

refactor: resilience
  .husky/pre-commit
Due: none

refactor: resilience (#953)
  .husky/pre-commit
Due: none

chore: update cancel workflow action
  .github/workflows/00-init.yml
Due: none

Update default.yml
  .github/workflows/default.yml
Due: none

feat: generating provenance statements
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
Due: none
