Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

fix: added possibility for further entries
  source/_patterns/02-components/language-switcher/language-switcher.scss
Due: stylelint --fix

refactor: another try
  .pa11yci
Due: none

refactor: added wcag false/positive ignore
  .pa11yci
Due: none

refactor: wrong place
  .pa11yci
Due: none

fix(pa11y-ci): added chrome launch path and necessary ignores (#1043)
  .pa11yci
Due: none

refactor: using `.nvmrc` entry (#1061)
  .github/actions/npm-cache/action.yml
Due: none

docs: clarification (#1072)
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: removed obsolete overrite (#1071)
  package-lock.json
  package.json
Due: none

refactor: updated GitHub actions (#1059)
  .github/actions/download-tar-artifact/action.yml
  .github/actions/upload-tar-artifact/action.yml
Due: none

refactor: updated `github-script` action (#1056)
  .github/actions/extract-branch/action.yml
Due: none

fix: added possibility for further entries (#1074)
  source/_patterns/02-components/language-switcher/language-switcher.scss
Due: stylelint --fix

Create 99-reuse-compliance-check.yml
  .github/workflows/99-reuse-compliance-check.yml
Due: none

fix(language switcher): added possibility for further entries
  package.json
  source/_patterns/02-components/language-switcher/language-switcher.scss
Due: stylelint --fix

fix(pa11y): conditions
  .pa11yci
  package.json
Due: none

fix(pa11y): conditions (#1079)
  .pa11yci
  package.json
Due: none
