Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

refactor(input): counter styles (#818)
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/textarea/textarea.scss
Due: stylelint --fix

refactor: enhanced clickable area on the inline-end
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/radio/radio.scss
Due: stylelint --fix

Update _form-elements.scss
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix

Update feedback.listitems.json
  source/_patterns/00-base/colors/feedback.listitems.json
Due: none

refactor: define a new variable
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/03-areas/00-header/header.md
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/_patterns/03-areas/_areas.scss
  source/css/_db-ui-core.variables.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

refactor: adapt CSS Variables solution
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/03-areas/00-header/header.md
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/_patterns/03-areas/_areas.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

Update mainnavigation.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
Due: stylelint --fix

refactor: updated icon names
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/icon-library~20-outline-seat.json
  source/_patterns/00-base/icons/icon-library~24-outline-seat.json
  source/_patterns/00-base/icons/icon-library~32-outline-seat.json
Due: stylelint --fix

refactor: updated icon names (#869)
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/icon-library~20-outline-seat.json
  source/_patterns/00-base/icons/icon-library~24-outline-seat.json
  source/_patterns/00-base/icons/icon-library~32-outline-seat.json
Due: stylelint --fix

refactor: migrated further media queries
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
Due: stylelint --fix

fix: corrected mixin name
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
Due: stylelint --fix

docs: added missing `feedback` colors (#854)
  source/_patterns/00-base/colors/feedback.listitems.json
Due: none

refactor: added possibility to overwrite the value on which to break the header underneath
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/03-areas/00-header/header.md
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/_patterns/03-areas/_areas.scss
  source/css/_db-ui-core.variables.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

refactor: updated the naming
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/03-areas/00-header/header.md
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/_patterns/03-areas/_areas.scss
  source/css/_db-ui-core.variables.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix
