Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:html, markdownlint -c .markdown-lint.yml, stylelint --fix, xo --fix

refactor(icon font): consolidate unicode range entries (#605)
  source/_patterns/00-base/icons/_icons.variables.scss
Due: stylelint --fix

docs(illustrative icons): corrected two icon names
  source/_patterns/00-base/icons/illustration-icons.json
Due: none

docs(illustrative icons): corrected two icon names (#616)
  source/_patterns/00-base/icons/illustration-icons.json
Due: none

feat: introduce grouped version updates for dependabot
  .github/dependabot.yml
Due: none

feat: introduce grouped version updates for dependabot (#617)
  .github/dependabot.yml
Due: none

feat: provide general styling for visually hidden labels
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix

docs: typo
  source/_patterns/01-elements/checkbox/checkbox~indeterminate.md
  source/_patterns/01-elements/checkbox/checkbox~on-dark-background-indeterminate.md
Due: markdownlint -c .markdown-lint.yml

feat: provided the possibility for all forms to visually hide the label
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/checkbox/checkbox~label-hidden.json
  source/_patterns/01-elements/checkbox/checkbox~label-hidden.md
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/input/input~hidden-label.json
  source/_patterns/01-elements/input/input~hidden-label.md
  source/_patterns/01-elements/radio/radio.scss
  source/_patterns/01-elements/radio/radios~label-hidden.json
  source/_patterns/01-elements/radio/radios~label-hidden.md
  source/_patterns/01-elements/select/select.scss
  source/_patterns/01-elements/select/select~hidden-label.json
  source/_patterns/01-elements/select/select~hidden-label.md
  source/_patterns/01-elements/textarea/textarea.scss
  source/_patterns/01-elements/textarea/textarea~hidden-label.json
  source/_patterns/01-elements/textarea/textarea~hidden-label.md
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

feat: provided the possibility for all forms to visually hide the label
  source/_patterns/01-elements/checkbox/checkbox.hbs
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/radio/_radio.hbs
  source/_patterns/01-elements/radio/radios.hbs
  source/_patterns/01-elements/select/select.hbs
  source/_patterns/01-elements/textarea/textarea.hbs
Due: npm run lint:html

refactor: reposition search inputs cancel button #627
  source/_patterns/01-elements/input/input.scss
Due: stylelint --fix

Update _form-elements.scss
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix

Update enterprise.patternlab-config.json
  enterprise.patternlab-config.json
Due: none

Update _head.hbs
  source/_meta/_head.hbs
Due: npm run lint:html

feat: added first set of icons
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/icon-library~20-outline-action.json
Due: stylelint --fix

fix: added missing unicode
  source/_patterns/00-base/icons/_icons.variables.scss
Due: stylelint --fix

docs: added missing entries
  source/_patterns/00-base/icons/icon-library~24-outline-action.json
  source/_patterns/00-base/icons/icon-library~32-outline-action.json
Due: none

refactor: updated with new icons
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/icon-library~20-filled-av.json
  source/_patterns/00-base/icons/icon-library~20-outline-av.json
  source/_patterns/00-base/icons/icon-library~24-filled-av.json
  source/_patterns/00-base/icons/icon-library~24-outline-av.json
  source/_patterns/00-base/icons/icon-library~32-filled-av.json
  source/_patterns/00-base/icons/icon-library~32-outline-av.json
  source/_patterns/00-base/icons/icon-library~48-filled-av.json
  source/_patterns/00-base/icons/icon-library~48-outline-av.json
  source/_patterns/00-base/icons/icon-library~64-filled-av.json
  source/_patterns/00-base/icons/icon-library~64-outline-av.json
Due: stylelint --fix

refactor: updated with new icons
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/icon-library~48-filled-av.json
  source/_patterns/00-base/icons/icon-library~48-outline-av.json
Due: stylelint --fix

Path conditions:
  npm run lint:html: any of: *.hbs
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
