Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

feat(form elements): provide possibility to visually hide the label (#628)
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/checkbox/checkbox.hbs
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/checkbox/checkbox~indeterminate.md
  source/_patterns/01-elements/checkbox/checkbox~label-hidden.json
  source/_patterns/01-elements/checkbox/checkbox~label-hidden.md
  source/_patterns/01-elements/checkbox/checkbox~on-dark-background-indeterminate.md
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/input/input~hidden-label.json
  source/_patterns/01-elements/input/input~hidden-label.md
  source/_patterns/01-elements/radio/_radio.hbs
  source/_patterns/01-elements/radio/radio.scss
  source/_patterns/01-elements/radio/radios.hbs
  source/_patterns/01-elements/radio/radios~label-hidden.json
  source/_patterns/01-elements/radio/radios~label-hidden.md
  source/_patterns/01-elements/select/select.hbs
  source/_patterns/01-elements/select/select.scss
  source/_patterns/01-elements/select/select~hidden-label.json
  source/_patterns/01-elements/select/select~hidden-label.md
  source/_patterns/01-elements/textarea/textarea.hbs
  source/_patterns/01-elements/textarea/textarea.scss
  source/_patterns/01-elements/textarea/textarea~hidden-label.json
  source/_patterns/01-elements/textarea/textarea~hidden-label.md
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

refactor: updated to Node version 20
  .nvmrc
Due: none

Update action.yml
  .github/actions/npm-cache/action.yml
Due: none

refactor: added missing prettifying (#658)
  .lintstagedrc
Due: none

refactor: updated to Node version 20 (#675)
  .github/actions/npm-cache/action.yml
  .nvmrc
Due: none

feat: added default:light variant
  source/_patterns/01-elements/chips/chip.scss
  source/_patterns/01-elements/chips/chips.json
  source/_patterns/01-elements/tags/tag.scss
  source/_patterns/01-elements/tags/tags.json
Due: stylelint --fix

refactor: chips and tags are supposed to get a font-weight of 500 instead of the default 400
  source/_patterns/01-elements/chips/chip.scss
  source/_patterns/01-elements/tags/tag.scss
Due: stylelint --fix

fix(chips & tags): missing default:light variant (#691)
  source/_patterns/01-elements/chips/chip.scss
  source/_patterns/01-elements/chips/chips.json
  source/_patterns/01-elements/tags/tag.scss
  source/_patterns/01-elements/tags/tags.json
Due: stylelint --fix

refactor: updated year
  README.md
  source/_patterns/03-areas/03-footer/footer.hbs
Due: markdownlint -c .markdown-lint.yml

refactor: updated year (#705)
  README.md
  source/_patterns/03-areas/03-footer/footer.hbs
Due: markdownlint -c .markdown-lint.yml

chore: update labeler.yml
  .github/labeler.yml
Due: none

refactor: simplification
  source/_patterns/00-base/icons/_icons.helpers.scss
Due: stylelint --fix

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
