Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

refactor: use the internal map.get function
  source/_patterns/01-elements/loading-indicator/loading-indicator.scss
Due: stylelint --fix

refactor: using internal color functions
  source/_patterns/00-base/_helpers.scss
  source/_patterns/00-base/_init.global.scss
Due: stylelint --fix

refactor: using internal string function
  source/_patterns/00-base/icons/_icons.font-faces.scss
Due: stylelint --fix

refactor: using internal map.merge function
  source/_patterns/00-base/icons/_icons.helpers.scss
  source/_patterns/00-base/icons/enterprise/_icons.variables.scss
Due: stylelint --fix

refactor: using internal map.get function
  source/_patterns/00-base/type/_fonts.scss
Due: stylelint --fix

refactor: using internal string.unquote function
  source/_patterns/01-elements/buttons/button.scss
Due: stylelint --fix

refactor: running prettier
  source/_patterns/00-base/_helpers.scss
Due: stylelint --fix

refactor(sass): version migration (#1011)
  source/_patterns/00-base/_helpers.scss
  source/_patterns/00-base/_init.global.scss
  source/_patterns/00-base/icons/_icons.font-faces.scss
  source/_patterns/00-base/icons/_icons.helpers.scss
  source/_patterns/00-base/icons/enterprise/_icons.variables.scss
  source/_patterns/00-base/type/_fonts.scss
  source/_patterns/01-elements/buttons/button.scss
  source/_patterns/01-elements/loading-indicator/loading-indicator.scss
Due: stylelint --fix

refactor: added relevant information
  docs/getStarted.adoc
  docs/migrationGuide.adoc
Due: none

Update getStarted.adoc
  docs/getStarted.adoc
Due: none

refactor: resolves a dependabot alert
  package.json
Due: none

refactor: regenerated package lock file
  package-lock.json
Due: none

fix(prettier): windows environments
  .husky/pre-commit
Due: none

Create .lintstagedrc-prettier.js
  .config/.lintstagedrc-prettier.js
Due: prettier --write, xo --fix

fix(prettier): windows environments (#1014)
  .config/.lintstagedrc-prettier.js
  .husky/pre-commit
Due: prettier --write, xo --fix

refactor: don't use JS if it's a simple key/value topic
  .config/.lintstagedrc-prettier.js
  .config/.lintstagedrc-prettier.json
  .config/.lintstagedrc.json
  .husky/pre-commit
Due: prettier --write, xo --fix

refactor: added new icons config
  source/_patterns/00-base/icons/_icons.font-faces.scss
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/enterprise/_icons.font-faces.scss
  source/_patterns/00-base/icons/icon-library~20-outline-action.json
  source/_patterns/00-base/icons/icon-library~24-outline-action.json
  source/_patterns/00-base/icons/icon-library~32-outline-action.json
Due: stylelint --fix

refactor: updated DB UI Base to the prerelease
  package-lock.json
  package.json
Due: none

refactor: don't use JS if it's a simple key/value topic (#1016)
  .config/.lintstagedrc-prettier.js
  .config/.lintstagedrc-prettier.json
  .config/.lintstagedrc.json
  .husky/pre-commit
Due: prettier --write, xo --fix

refactor(docs): added further missing icons
  source/_patterns/00-base/icons/illustration-icons.json
Due: none

Update illustration-icons.json
  source/_patterns/00-base/icons/illustration-icons.json
Due: none
