Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

refactor: removed obsolete and added relevant dependecy
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

refactor(stylinelint): not lint config on every run
  .config/.lintstagedrc.json
Due: none

Update .stylelintignore
  .stylelintignore
Due: none

refactor: running prettier
  source/_patterns/00-base/icons/_icons.helpers.scss
  source/_patterns/00-base/icons/enterprise/_icons.custom-properties.scss
Due: stylelint --fix

docs: corrected the URL
  README.md
Due: markdownlint -c .markdown-lint.yml

Update _form-elements.scss
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix

Update README.md
  README.md
Due: markdownlint -c .markdown-lint.yml

docs: updated comment on maintenance scope and EOL
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: running prettier fix
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: restructured comments
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: corrected comment position
  README.md
Due: markdownlint -c .markdown-lint.yml

Create 99-auto-format-dependabot-prettier-updates.yml
  .github/workflows/99-auto-format-dependabot-prettier-updates.yml
Due: none

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: none

Update 99-auto-format-dependabot-prettier-updates.yml
  .github/workflows/99-auto-format-dependabot-prettier-updates.yml
Due: none

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
