Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

docs(tab-bar): publish tab bar docs
  .pa11yci
  source/_patterns/02-components/tab-bar/_tab-bar.md
  tests/backstop.json
Due: markdownlint -c .markdown-lint.yml

docs(sidenavi): publish sidenavi docs
  .pa11yci
  source/_patterns/02-components/sidenavi/_sidenavi.md
  tests/backstop.json
Due: markdownlint -c .markdown-lint.yml

Update sidenavi.hbs
  source/_patterns/02-components/sidenavi/sidenavi.hbs
Due: none

docs(sidenavi): publish sidenavi docs (#719)
  .pa11yci
  source/_patterns/02-components/sidenavi/_sidenavi.md
  source/_patterns/02-components/sidenavi/sidenavi.hbs
  tests/backstop.json
Due: markdownlint -c .markdown-lint.yml

Update tab-bar.hbs
  source/_patterns/02-components/tab-bar/tab-bar.hbs
Due: none

docs(tab-bar): publish tab bar docs (#718)
  .pa11yci
  source/_patterns/02-components/tab-bar/_tab-bar.md
  source/_patterns/02-components/tab-bar/tab-bar.hbs
  tests/backstop.json
Due: markdownlint -c .markdown-lint.yml

refactor: upgraded to husky version 9
  .husky/commit-msg
Due: none

refactor: upgraded to husky version 9
  .husky/pre-commit
Due: none

refactor: simplification (#709)
  source/_patterns/00-base/icons/_icons.helpers.scss
Due: stylelint --fix

refactor(husky): replaced older solution
  package.json
Due: none

refactor: added recommendation for stylelint Visual Studio Code extension
  .vscode/extensions.json
Due: none

refactor: added relevant VS Code setting for default linter
  .vscode/settings.json
Due: none

refactor: added recommendation for `stylelint` VS Code extension (#749)
  .vscode/extensions.json
Due: none

refactor: added relevant VS Code setting for default linter (#750)
  .vscode/settings.json
Due: none

refactor(husky): replaced older solution (#748)
  package.json
Due: none

fix(dropdown): icon not displaying on Safari
  source/_patterns/00-base/icons/_icons.helpers.scss
Due: stylelint --fix

fix(dropdown): icon not displaying on Safari (#766)
  source/_patterns/00-base/icons/_icons.helpers.scss
Due: stylelint --fix

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
