Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

feat: added small items with icons
  source/_patterns/02-components/tab-bar/tab-bar.scss
  source/_patterns/02-components/tab-bar/tab-bar~small-item-icon.json
Due: stylelint --fix

refactor: added correct color value
  source/_patterns/02-components/tab-bar/_tab-bar.variables.scss
Due: stylelint --fix

refactor: button vertical alignment
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

refactor: added pressed state
  source/_patterns/02-components/tab-bar/_tab-bar.variables.scss
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

Update tab-bar.scss
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

refactor: simplification
  source/_patterns/02-components/tab-bar/tab-bar.json
  source/_patterns/02-components/tab-bar/tab-bar~item-icon.json
  source/_patterns/02-components/tab-bar/tab-bar~small-item-icon.json
  source/_patterns/02-components/tab-bar/tab-bar~small.json
Due: none

refactor: added missing parameter
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

feat: providing auto width for buttons
  source/_patterns/01-elements/buttons/10-button-width.hbs
  source/_patterns/01-elements/buttons/_buttons.md
  source/_patterns/01-elements/buttons/button.hbs
  source/_patterns/01-elements/buttons/button.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

Update _buttons.md
  source/_patterns/01-elements/buttons/_buttons.md
Due: markdownlint -c .markdown-lint.yml

Update button.hbs
  source/_patterns/01-elements/buttons/button.hbs
Due: none

Update 10-button-width.hbs
  source/_patterns/01-elements/buttons/10-button-width.hbs
Due: none

refactor: header styles to align with current design
  source/_data/enterprise/mainnavigation.json
  source/_patterns/01-elements/image/image.scss
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/language-switcher/_language-switcher.variables.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/02-components/metanavigation/metanavigation.scss
  source/_patterns/02-components/sitesearch/_sitesearch.variables.scss
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/_header.variables.scss
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
Due: stylelint --fix

feat: providing auto width for buttons (#898)
  source/_patterns/01-elements/buttons/10-button-width.hbs
  source/_patterns/01-elements/buttons/_buttons.md
  source/_patterns/01-elements/buttons/button.hbs
  source/_patterns/01-elements/buttons/button.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

refactor: fix scss warnings
  source/_patterns/00-base/icons/_icons.helpers.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/_patterns/03-areas/03-footer/footer.scss
Due: stylelint --fix

refactor: fix scss warnings
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/select/select.scss
  source/_patterns/01-elements/textarea/textarea.scss
  source/_patterns/02-components/dialog/dialog.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/link-list/link-list.scss
Due: stylelint --fix

refactor: fix scss warnings
  source/_patterns/00-base/icons/_icons.helpers.scss
Due: stylelint --fix

refactor: fix scss warnings
  source/_patterns/03-areas/03-footer/footer.scss
Due: stylelint --fix

refactor: fix scss warnings
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/02-components/accordion/accordion.scss
  source/_patterns/02-components/dialog/dialog.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/link-list/link-list.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/meta.scss
Due: stylelint --fix

refactor: fix scss warnings (#900)
  source/_patterns/00-base/icons/_icons.helpers.scss
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/select/select.scss
  source/_patterns/01-elements/textarea/textarea.scss
  source/_patterns/02-components/accordion/accordion.scss
  source/_patterns/02-components/dialog/dialog.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/link-list/link-list.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/_patterns/03-areas/03-footer/footer.scss
Due: stylelint --fix

fix: issues with missing scss dependencies
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/header.scss
  source/css/helpers/_dividers.scss
Due: stylelint --fix

fix: styling issues in sitesearch.scss
  source/_patterns/02-components/sitesearch/sitesearch.scss
Due: stylelint --fix

chore(chips): remove html lint ignores, add label for single-chip entry in patternlab
  source/_patterns/01-elements/chips/_chip.hbs
  source/_patterns/01-elements/chips/_chip.json
Due: none

fix(chips): add focus styles, make input focusable & expose label
  source/_patterns/01-elements/chips/_chip.hbs
  source/_patterns/01-elements/chips/chip.scss
Due: stylelint --fix

refactor: dynamic id value
  source/_patterns/02-components/sitesearch/_sitesearch.hbs
Due: none
