Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:html, markdownlint -c .markdown-lint.yml, stylelint --fix, xo --fix

.lintstagedrc:

{
	"*.hbs": "npm run lint:html",
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx}": "xo --fix",
	"!*.{js,ts,tsx}": "prettier --write --ignore-unknown"
}

fix: typo
  README.md
Due: markdownlint -c .markdown-lint.yml

fix: typo (#567)
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor: removed obsolete declaration
  source/_patterns/02-components/cards/_card.hbs
Due: npm run lint:html

fix: arrow alignment
  source/_patterns/02-components/accordion/_accordion.variables.scss
  source/_patterns/02-components/accordion/accordion.scss
Due: stylelint --fix

fix(accordion): arrow alignment (#571)
  source/_patterns/02-components/accordion/_accordion.variables.scss
  source/_patterns/02-components/accordion/accordion.scss
Due: stylelint --fix

refactor: not installing plugins for husky npx
  .husky/commit-msg
Due: none

Update pre-commit
  .husky/pre-commit
Due: none

fix: corrected the installation prevention parameters position
  .husky/pre-commit
Due: none

refactor: adapted from examples
  .husky/commit-msg
Due: none

refactor: adapted from examples
  .husky/pre-commit
Due: none

refactor: not installing plugins for husky npx (#574)
  .husky/commit-msg
  .husky/pre-commit
Due: none
