Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:html, markdownlint -c .markdown-lint.yml, stylelint --fix, xo --fix

refactor: updated icon fonts url (#657)
  source/_patterns/00-base/icons/_icons.font-faces.scss
  source/_patterns/00-base/icons/enterprise/_icons.font-faces.scss
Due: stylelint --fix

refactor: added missing prettifying
  .lintstagedrc
Due: none

chore: formatting
  .lintstagedrc
Due: none

refactor: added missing references
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/checkbox/checkbox.scss
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/radio/radio.scss
  source/_patterns/01-elements/select/select.scss
  source/_patterns/01-elements/textarea/textarea.scss
Due: stylelint --fix

refactor: not providing an empty option on hidden label
  source/_patterns/01-elements/select/select.hbs
Due: npm run lint:html

fix: no html-lint on hbs filetypes
  .lintstagedrc
Due: none

refactor: provide possibility to overwrite standard icon for this component
  source/_patterns/02-components/overflow-menu/overflow-menu.hbs
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
  source/_patterns/02-components/overflow-menu/overflow-menu~individual-icon.json
  source/_patterns/02-components/overflow-menu/overflow-menu~individual-icon.md
Due: npm run lint:html, markdownlint -c .markdown-lint.yml, stylelint --fix

chore: simplification
  source/_patterns/02-components/overflow-menu/overflow-menu.hbs
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
  source/_patterns/02-components/overflow-menu/overflow-menu~individual-icon.md
Due: npm run lint:html, markdownlint -c .markdown-lint.yml, stylelint --fix

chore: restructuring
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
Due: stylelint --fix

chore: formatting
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
Due: stylelint --fix

refactor: provide possibility to overwrite standard icon for this component
  source/_patterns/02-components/dropdown/dropdown.hbs
  source/_patterns/02-components/dropdown/dropdown~individual-icon.json
  source/_patterns/02-components/dropdown/dropdown~individual-icon.md
Due: npm run lint:html, markdownlint -c .markdown-lint.yml

Update dropdown~individual-icon.md
  source/_patterns/02-components/dropdown/dropdown~individual-icon.md
Due: markdownlint -c .markdown-lint.yml

fix: no `html-validate` on hbs filetypes (#663)
  .lintstagedrc
Due: none

refactor: removed obsolete rules
  .mdlrc
  source/_patterns/.markdownlintrc.json
  source/_patterns/.mdlrc
Due: none

Path conditions:
  npm run lint:html: any of: *.hbs
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  xo --fix: any of: *.{js,ts,tsx}
