Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

Update package.json
  package.json
Due: none

refactor: updated package lock file
  package-lock.json
Due: none

docs: added icons
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/icon-library~20-outline-av.json
  source/_patterns/00-base/icons/icon-library~20-outline-feature.json
  source/_patterns/00-base/icons/icon-library~24-outline-av.json
  source/_patterns/00-base/icons/icon-library~24-outline-feature.json
  source/_patterns/00-base/icons/icon-library~32-outline-av.json
  source/_patterns/00-base/icons/icon-library~32-outline-feature.json
Due: stylelint --fix

refactor: added relevant icon
  source/_patterns/00-base/icons/icon-library~20-outline-seat.json
  source/_patterns/00-base/icons/icon-library~24-outline-seat.json
  source/_patterns/00-base/icons/icon-library~32-outline-seat.json
Due: none

fix: corrected glyphs
  source/_patterns/00-base/icons/_icons.variables.scss
Due: stylelint --fix

refactor: updated DB UI Base package
  package-lock.json
  package.json
Due: none

refactor: updated font definitions
  source/_patterns/00-base/icons/_icons.font-faces.scss
  source/_patterns/00-base/icons/enterprise/_icons.font-faces.scss
Due: stylelint --fix

refactor: updated package
  package-lock.json
  package.json
Due: none

fix: corrected glyph codes
  source/_patterns/00-base/icons/_icons.variables.scss
Due: stylelint --fix

refactor: corrected package
  package-lock.json
  package.json
Due: none

chore: this icon has been reintroduced
  source/_patterns/00-base/icons/_icons.variables.scss
Due: stylelint --fix

refactor: icon update (#1017)
  source/_patterns/00-base/icons/_icons.font-faces.scss
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/enterprise/_icons.font-faces.scss
  source/_patterns/00-base/icons/icon-library~20-outline-action.json
  source/_patterns/00-base/icons/icon-library~20-outline-av.json
  source/_patterns/00-base/icons/icon-library~20-outline-feature.json
  source/_patterns/00-base/icons/icon-library~20-outline-seat.json
  source/_patterns/00-base/icons/icon-library~24-outline-action.json
  source/_patterns/00-base/icons/icon-library~24-outline-av.json
  source/_patterns/00-base/icons/icon-library~24-outline-feature.json
  source/_patterns/00-base/icons/icon-library~24-outline-seat.json
  source/_patterns/00-base/icons/icon-library~32-outline-action.json
  source/_patterns/00-base/icons/icon-library~32-outline-av.json
  source/_patterns/00-base/icons/icon-library~32-outline-feature.json
  source/_patterns/00-base/icons/icon-library~32-outline-seat.json
  source/_patterns/00-base/icons/illustration-icons.json
Due: stylelint --fix

fix(pa11y-ci): added chrome launch path
  .pa11yci
Due: none

docs: added warning for SASS usage (#1023)
  README.md
  docs/getStarted.adoc
Due: markdownlint -c .markdown-lint.yml

refactor: updated node version (#1038)
  .github/actions/npm-cache/action.yml
  .nvmrc
Due: none

refactor: resolves a dependabot alert (#1012)
  package-lock.json
  package.json
Due: none

refactor: replaced npm-run-all by npm-run-all2
  package-lock.json
  package.json
Due: none

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
