Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

Update chip.scss
  source/_patterns/01-elements/chips/chip.scss
Due: stylelint --fix

Update brand.scss
  source/_patterns/02-components/brand/brand.scss
Due: stylelint --fix

refactor: Update `CODE-OF-CONDUCT.md`
  CODE-OF-CONDUCT.md
Due: markdownlint -c .markdown-lint.yml

refactor: prettier
  CODE-OF-CONDUCT.md
Due: markdownlint -c .markdown-lint.yml

refactor: code formatting
  source/_patterns/02-components/brand/brand.scss
Due: stylelint --fix

refactor: Update `CODE-OF-CONDUCT.md` (#902)
  CODE-OF-CONDUCT.md
Due: markdownlint -c .markdown-lint.yml

Update migrationGuide.adoc
  docs/migrationGuide.adoc
Due: none

docs: added further explaining links
  docs/adr/semantics.adoc
Due: none

Update semantics.adoc
  docs/adr/semantics.adoc
Due: none

docs: added further explaining links (#913)
  docs/adr/semantics.adoc
Due: none

fix: issues from design review
  source/_patterns/02-components/dropdown/dropdown.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
  source/_patterns/03-areas/00-header/header.scss
Due: stylelint --fix

refactor: add relevant comment
  source/_patterns/02-components/tab-bar/_tab-bar.md
Due: markdownlint -c .markdown-lint.yml

refactor: simply enabled multi-line content
  source/_patterns/02-components/tab-bar/tab-bar.hbs
  source/_patterns/02-components/tab-bar/tab-bar.json
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

style: feedback
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

refactor: squash dependabot PRs
  .github/workflows/99-auto-merge.yml
Due: none

refactor: we don't want to advertise for this one
  source/_patterns/02-components/tab-bar/tab-bar.json
Due: none

style: adaptions out of feedback
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

refactor: corrected these declarations
  source/_patterns/02-components/tab-bar/tab-bar.scss
Due: stylelint --fix

docs: migration guide new major release (#911)
  docs/migrationGuide.adoc
Due: none

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
