Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

feat(icons): added new icons to docs and SCSS
  source/_patterns/00-base/icons/_icons.font-faces.scss
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/enterprise/_icons.font-faces.scss
  source/_patterns/00-base/icons/icon-library~20-outline-transportation.json
Due: stylelint --fix

feat(icons): added new icons to docs and SCSS (#778)
  source/_patterns/00-base/icons/_icons.font-faces.scss
  source/_patterns/00-base/icons/_icons.variables.scss
  source/_patterns/00-base/icons/enterprise/_icons.font-faces.scss
  source/_patterns/00-base/icons/icon-library~20-outline-transportation.json
Due: stylelint --fix

chore: updated `actions/setup-node`
  .github/actions/npm-cache/action.yml
Due: none

chore: updated `actions/setup-node` (#798)
  .github/actions/npm-cache/action.yml
Due: none

refactor: correct s-bahn color
  source/_patterns/00-base/colors/transportation.listitems.json
Due: none

chore(docs): corrected `s-bahn` color (#805)
  source/_patterns/00-base/colors/transportation.listitems.json
Due: none

refactor: added counter
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/input/input~maxlength.json
  source/_patterns/01-elements/input/input~maxlength.md
  source/_patterns/01-elements/textarea/textarea.hbs
  source/_patterns/01-elements/textarea/textarea.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

docs: added relevant comments
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/input~maxlength.md
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

fix: now it makes sense
  source/_patterns/01-elements/input/input~maxlength.md
Due: markdownlint -c .markdown-lint.yml

docs: we need to hide this for the moment
  source/_patterns/01-elements/input/input~maxlength.md
Due: markdownlint -c .markdown-lint.yml

refactor(input): added counter (#812)
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/input/input~maxlength.json
  source/_patterns/01-elements/input/input~maxlength.md
  source/_patterns/01-elements/textarea/textarea.hbs
  source/_patterns/01-elements/textarea/textarea.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

fix(input): some counter related styles
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/input/input.scss
Due: stylelint --fix

refactor: better positioning
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/textarea/textarea.hbs
Due: stylelint --fix

fix(input): some counter related styles (#813)
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/input.hbs
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/textarea/textarea.hbs
Due: stylelint --fix

refactor: input counter styles
  source/_patterns/01-elements/_form-elements.scss
  source/_patterns/01-elements/input/input.scss
  source/_patterns/01-elements/textarea/textarea.scss
Due: stylelint --fix

fix: checked in by mistake
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix
