Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

Update 99-auto-format-dependabot-prettier-updates.yml
  .github/workflows/99-auto-format-dependabot-prettier-updates.yml
Due: none

Update .lintstagedrc.json
  .config/.lintstagedrc.json
Due: none

fix: corrected transportation color
  source/_patterns/00-base/colors/transportation.listitems.json
Due: none

refactor: added missing declaration
  .config/.lintstagedrc.json
Due: none

refactor: removed unknown rule
  .stylelintrc.json
Due: none

refactor: removed unnecessary rule
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix

refactor: running prettier
  source/_patterns/02-components/tab-bar/_tab-bar.variables.scss
Due: stylelint --fix

refactor: running prettier again
  source/_patterns/00-base/icons/_icons.helpers.scss
  source/_patterns/00-base/icons/enterprise/_icons.custom-properties.scss
Due: stylelint --fix

refactor: updated to the latest versions
  package-lock.json
  package.json
Due: none

refactor: switched to stylelint-config-standard-scss
  .stylelintrc.json
  package-lock.json
  package.json
Due: none

refactor: added further stylelintignore entries
  .stylelintignore
Due: none

feat: self healing dependabot updates
  .github/workflows/pull-request.yml
Due: none

Create 99-self-healing-dependabot-updates.yml
  .github/workflows/99-self-healing-dependabot-updates.yml
Due: none

refactor: optimized stylelint filenames definition
  .github/workflows/99-self-healing-dependabot-updates.yml
Due: none

Update .stylelintrc.json
  .stylelintrc.json
Due: none

refactor: migrated config
  .eslintignore
  .eslintrc.js
  .xo-config.json
  package-lock.json
  xo.config.mjs
Due: prettier --write, xo --fix

refactor: optimizations
  helpers/test.js
  scripts/check-commit-mail.mjs
  tests/backstop_data/engine_scripts/puppet/clickAndHoverHelper.js
  xo.config.mjs
Due: prettier --write, xo --fix
