Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

Update publish-npm.sh
  .github/scripts/publish-npm.sh
Due: none

fix: logo being overlayed by the header
  source/_patterns/03-areas/00-header/header.scss
Due: stylelint --fix

refactor: removed obsolete styles
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/header.scss
Due: stylelint --fix

fix: this declaration actually needs to get set on wider viewports
  source/_patterns/03-areas/00-header/header.scss
Due: stylelint --fix

fix: logo being overlayed by the header (#975)
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/header.scss
Due: stylelint --fix

refactor: replace renamed CSS property
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix

refactor: replace renamed CSS property (#982)
  source/_patterns/01-elements/_form-elements.scss
Due: stylelint --fix

feat: generating provenance statements (#968)
  .github/scripts/publish-npm.sh
  .github/workflows/03-publish-packages.yml
Due: none

refactor: using invoker command instead of JS glue code
  enterprise.patternlab-config.json
  package-lock.json
  package.json
  source/_meta/_foot.hbs
  source/_meta/_head.hbs
  source/_patterns/01-elements/buttons/button.hbs
  source/_patterns/02-components/dialog/dialog.hbs
  source/_patterns/02-components/dialog/dialog.md
  source/_patterns/02-components/dialog/dialog.script.js
  source/_patterns/02-components/dialog/dialog.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

refactor: using invoker command instead of JS glue code (#989)
  enterprise.patternlab-config.json
  package-lock.json
  package.json
  source/_meta/_foot.hbs
  source/_meta/_head.hbs
  source/_patterns/01-elements/buttons/button.hbs
  source/_patterns/02-components/dialog/dialog.hbs
  source/_patterns/02-components/dialog/dialog.md
  source/_patterns/02-components/dialog/dialog.script.js
  source/_patterns/02-components/dialog/dialog.scss
Due: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

refactor: using internal color functions
  source/_patterns/00-base/_helpers.scss
  source/_patterns/00-base/_init.global.scss
Due: stylelint --fix

refactor: using internal string function
  source/_patterns/00-base/icons/_icons.font-faces.scss
Due: stylelint --fix

refactor: using internal map.merge function
  source/_patterns/00-base/icons/_icons.helpers.scss
  source/_patterns/00-base/icons/enterprise/_icons.variables.scss
Due: stylelint --fix

refactor: using internal map.get function
  source/_patterns/00-base/type/_fonts.scss
Due: stylelint --fix

refactor: using internal string.unquote function
  source/_patterns/01-elements/buttons/button.scss
Due: stylelint --fix
