Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

.lintstagedrc:

{
	"*.md": "markdownlint -c .markdown-lint.yml",
	"*.{css,scss}": "stylelint --fix",
	"*.{js,ts,tsx,jsx,mjs,cjs}": ["prettier --write", "xo --fix"],
	"!*.{js,ts,tsx,jsx,mjs,cjs}": "prettier --write --ignore-unknown"
}

refactor: header styles to align with current design (#899)
  source/_data/enterprise/mainnavigation.json
  source/_patterns/01-elements/image/image.scss
  source/_patterns/02-components/brand/brand.scss
  source/_patterns/02-components/dropdown/dropdown.scss
  source/_patterns/02-components/language-switcher/_language-switcher.variables.scss
  source/_patterns/02-components/language-switcher/language-switcher.scss
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
  source/_patterns/02-components/metanavigation/metanavigation.scss
  source/_patterns/02-components/overflow-menu/overflow-menu.scss
  source/_patterns/02-components/sitesearch/_sitesearch.hbs
  source/_patterns/02-components/sitesearch/_sitesearch.variables.scss
  source/_patterns/02-components/sitesearch/sitesearch.scss
  source/_patterns/03-areas/00-header/_header.variables.scss
  source/_patterns/03-areas/00-header/header.scss
  source/_patterns/03-areas/00-header/meta.scss
  source/css/helpers/_dividers.scss
Due: stylelint --fix

refactor: squash dependabot PRs (#916)
  .github/workflows/99-auto-merge.yml
Due: none

refactor(tabs): integrate v2 design (#895)
  source/_patterns/02-components/tab-bar/_tab-bar.md
  source/_patterns/02-components/tab-bar/_tab-bar.variables.scss
  source/_patterns/02-components/tab-bar/tab-bar.hbs
  source/_patterns/02-components/tab-bar/tab-bar.json
  source/_patterns/02-components/tab-bar/tab-bar.scss
  source/_patterns/02-components/tab-bar/tab-bar~item-icon.json
  source/_patterns/02-components/tab-bar/tab-bar~small-item-icon.json
  source/_patterns/02-components/tab-bar/tab-bar~small.json
Due: markdownlint -c .markdown-lint.yml, stylelint --fix

fix(chips): use built-in radiogroup / checkbox behavior for a11y (#890)
  source/_patterns/01-elements/chips/_chip.hbs
  source/_patterns/01-elements/chips/_chip.json
  source/_patterns/01-elements/chips/chip.scss
Due: stylelint --fix

docs: migration guide new major release (#911)
  docs/migrationGuide.adoc
Due: none

Update headline.scss
  source/_patterns/01-elements/headline/headline.scss
Due: stylelint --fix

refactor: prettyfication
  source/_patterns/01-elements/headline/headline.scss
Due: stylelint --fix

chore(docs): README update
  README.md
Due: markdownlint -c .markdown-lint.yml

Update README.md
  README.md
Due: markdownlint -c .markdown-lint.yml

refactor(headline): text wrap balance (#924)
  source/_patterns/01-elements/headline/headline.scss
Due: stylelint --fix

fix: duplicated rem units
  source/_patterns/02-components/accordion/accordion.scss
Due: stylelint --fix

chore(docs): README update (#926)
  README.md
Due: markdownlint -c .markdown-lint.yml

fix: duplicated rem units (#929)
  source/_patterns/02-components/accordion/accordion.scss
Due: stylelint --fix
