Repository db-ui/core: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint -c .markdown-lint.yml, stylelint --fix, prettier --write, xo --fix

Update migrationGuide.adoc
  docs/migrationGuide.adoc
Due: none

refactor: readded that aspect
  .config/.lintstagedrc.json
Due: none

fix: Return typed values from scss functions instead of strings
  source/css/helpers/_functions.scss
Due: stylelint --fix

docs: Update _icons.md with new iconset information
  source/_patterns/00-base/icons/_icons.md
Due: markdownlint -c .markdown-lint.yml

docs: Update _icons.md with new iconset information (#1299)
  source/_patterns/00-base/icons/_icons.md
Due: markdownlint -c .markdown-lint.yml

refactor: running npm audit fix
  package-lock.json
Due: none

refactor: running npm audit fix (#1300)
  package-lock.json
Due: none

fix: Header main navigation hover/active background for multiline items
  source/_patterns/02-components/mainnavigation/mainnavigation.scss
Due: stylelint --fix

docs: updated on the new term
  README.md
Due: markdownlint -c .markdown-lint.yml

docs: updated on the new term (#1303)
  README.md
Due: markdownlint -c .markdown-lint.yml

Path conditions:
  markdownlint -c .markdown-lint.yml: any of: *.md
  stylelint --fix: any of: *.{css,scss}
  prettier --write: any of: *.{js,ts,tsx,jsx,mjs,cjs}
  xo --fix: any of: *.{js,ts,tsx,jsx,mjs,cjs}
